# To update requirements.txt for praxis and paxml, run:
# cd ../../paxml/pip_package && bash ./compile_requirements.sh

absl-py
clu
einops
etils
fiddle==0.2.11 
flax
jax==0.4.18
jax-bitempered-loss
jaxtyping
lingvo
numpy
optax
optax-shampoo
opt-einsum
tensorflow-datasets==4.8.3
tensorflow-metadata==1.12.0
tensorflow-text~=2.9.0
tensorflow~=2.9.2
tfds-nightly==4.8.3.dev202303280045
typeguard
